@import url('http://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css');

/* import 'https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css'; */
.fa-solid {
}
#hide1 {
  display: none;
}
.helper {
  color: var(--figma-color-text-disable);
}
.input-icon {
  position: relative;
}
.input-icon input {
  padding-left: 40px !important;
  position: relative;
}
.input-icon label ~ .prefix {
  top: 1.8rem;
}
.input-icon label ~ .suffix,
.input-icon label.suffix {
  top: 1.8rem;
  cursor: pointer;
}
.input-icon label.suffix {
  display: flex;
  column-gap: 8px;
}
.input-icon .prefix {
  position: absolute;
  left: 7px;
  /* top: 25px; */
  top: 0.3rem;
  padding: 9px 8px;
  color: #aaa;
}
/* .input-icon button {
  background: none;
  border: none;
  top: 1.5rem !important;
} */

.input-icon .suffix {
  position: absolute;
  right: 7px;
  top: 0.3rem;
  padding: 9px 8px;
  color: #aaa;
}
.input-icon span.suffix {
  top: 1.8rem;
}

.suffix label:not(.btn) {
  padding: 0.37em;
  cursor: pointer;
}
.suffix label:hover,
.suffix i:hover {
  color: var(--figma-color-text-button-primary);
}
.suffix > i {
  font-size: 1.2em;
  color: #aaa;
  cursor: pointer;
}
.suffix > i:hover {
  color: var(--figma-color-text-button-primary);
}
.suffix i {
  font-size: 1.2em;
}
.form-control {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  padding: var(--figma-size-field-padding-top-bottom)
    var(--figma-size-field-padding-right-left);
  gap: var(--figma-size-field-gap);

  height: 44px;
  width: 100%;

  background: var(--figma-color-background-base-light);

  border: 1px solid var(--figma-color-border-base);
  border-radius: var(--figma-size-field-radius);
}
.form-control:focus {
  outline: none;
  border: 2px solid var(--figma-color-background-primary);
  box-shadow: 0 0 10px var(var(--figma-color-background-primary));
}
textarea {
  resize: vertical;
}
textarea.form-control {
  min-height: 80px;
}

/* DISABLED */
.form-control:disabled {
  background-color: var(--figma-color-background-disable);
}

/* SIZING */
.form-control-lg {
  min-height: ;
  padding: ;
  font-size: ;
  border-radius: ;
}
.form-control-sm {
  min-height: ;
  padding: ;
  font-size: ;
  border-radius: ;
}

/* PLAIN-TEXT */
.form-control-plaintext {
  box-sizing: border-box;

  display: block;
  flex-direction: row;
  align-items: flex-start;

  height: 44px;
  width: 100%;

  border: 1px solid transparent;
  border-radius: var(--figma-size-field-radius);
}
.form-control-plaintext:focus {
  outline: none;
}

input[type='file'] {
  /*display: none;*/
  padding-left: 24px !important;
}
.form-control::-webkit-file-upload-button {
}
.form-control::file-selector-button {
  visibility: hidden;
  width: 0%;
  margin-left: -20px;
  margin-top: 3px;
}

input[type='date'] {
  font-family: var(--figma-font-body2-font-family);
  font-style: normal;
  font-weight: var(--figma-font-body2-font-weight);
  font-size: var(--figma-size-font-body-2);
  line-height: var(--figma-size-line-height-body2);
  /* identical to box height, or 143% */

  /* text-transform: capitalize; */

  /* palette/gray/700 */

  color: var(--figma-color-text-normal);
}
::-webkit-calendar-picker-indicator {
  /* visibility: hidden; */
}
[type='date'] {
  /* background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat; */
}

.input-date input[type='text'] {
}
[type='date']::-webkit-inner-spin-button {
  /* display: none; */
}
[type='date']::-webkit-calendar-picker-indicator {
  /* opacity: 1;
  width: 10%; */
  padding: 10px 10px;
  color: #aaa;
  display: no;
  /* background-color: var(--figma-color-background-primary); */
}
