.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;

  height: 32px;
  width: fit-content;

  background: var(--figma-color-background-base-light);
  border-radius: var(--figma-size-chip-radius);
}

.tag-primary {
  color: var(--figma-color-text-normal);
  background: var(--figma-color-background-primary);
}
.tag-success {
  color: var(--figma-color-text-success);
  background: var(--figma-color-background-success);
}
.tag-error {
  color: var(--figma-color-text-error);
  background: var(--figma-color-background-error);
}
.tag-warning {
  color: var(--figma-color-text-normal);
  background: var(--figma-color-background-warning);
}
.tag-confirmed {
  color: var(--figma-color-text-link);
  background: var(--figma-color-background-link);
}
