label {
  font-family: var(--figma-font-label-font-family);
  font-style: normal;
  font-weight: var(--figma-font-label-font-weight);
  font-size: var(--figma-size-font-label);
  line-height: var(--figma-size-line-height-label);

  text-transform: var(--figma-font-label-text-case);

  color: var(--figma-color-text-normal);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/*
*
Input Field 
*
*/

.input_field .content {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--figma-size-field-padding-top-bottom)
    var(--figma-size-field-padding-right-left);
  gap: var(--figma-size-field-gap);

  height: 44px;

  background: var(--figma-color-background-base-light);

  border: 1px solid var(--figma-color-border-base);
  border-radius: var(--figma-size-field-radius);
}

input {
  border: none;

  font-family: var(--figma-font-body1-font-family);
  font-style: normal;
  font-weight: var(--figma-font-body1-font-weight);
  font-size: var(--figma-size-font-body-1);
  line-height: var(--figma-size-line-height-body1);
  background: none;
}

input:focus {
  outline: none;
}

/*
*
Checkbox
*
*/

.checkbox {
  display: block;
  position: relative;
  padding-left: 26px;
  padding-top: 1px;
  margin: 8px;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid var(--figma-color-border-base);
  border-radius: var(--figma-size-checkbox-radius);
}

/* HOVER EFFECT */
.checkbox:hover input ~ .checkmark {
  background-color: var(--figma-color-background-base-grey);
}

.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark::after {
  display: block;
}

.checkbox .checkmark::after {
  position: absolute;
  left: 31%;
  top: 8%;
  bottom: 29.17%;
  width: 5px;
  height: 10px;
  border: 2px solid var(--figma-color-border-success);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
*
Radio Button
*
*/

.radio {
  display: flex;
  gap: 8px;
  margin: 5px;
  align-items: center;
}
input[type='radio'] {
  margin: 0px;
  width: 18px;
  height: 18px;
}

/*
*
Switch
*
*/

.switch {
  display: flex;
  align-items: center;
}

input[type='checkbox']#switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

label#switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 24px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 8px;
}

label#switch:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s;
}
input:checked + label#switch {
  background: var(--figma-color-background-primary);
}
input:checked + label#switch:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
label#switch:active:after {
  width: 25px;
}
