/*@import url(../../tokens/variables.css);
*/

label {
  font-family: var(--figma-font-label-font-family);
  font-style: normal;
  font-weight: var(--figma-font-label-font-weight);
  font-size: var(--figma-size-font-label);
  line-height: var(--figma-size-line-height-label);

  text-transform: var(--figma-font-label-text-case);

  /* Gray/700 */

  color: var(--figma-color-text-normal);
}

.typo-button1 {
  font-family: var(--figma-font-button1-font-family);
  font-style: normal;
  font-weight: var(--figma-font-button1-font-weight);
  font-size: var(--figma-size-font-button-1);
  line-height: var(--figma-size-line-height-button1);
}

.typo-button2 {
  font-family: var(--figma-font-button2-font-family);
  font-style: normal;
  font-weight: var(--figma-font-button2-font-weight);
  font-size: var(--figma-size-font-button-2);
  line-height: var(--figma-size-line-height-button2);
}

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--figma-size-button-padding-top-bottom)
    var(--figma-size-button-padding-right-left);
  gap: var(--figma-size-button-gap);

  background: var(--figma-color-background-button-primary-active);
  color: var(--figma-color-text-button-primary);
  border-radius: var(--figma-size-button-radius);
  border: none;
}

.btn-primary:hover {
  background: var(--figma-color-background-button-primary-hover);
}

.btn-secondary {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--figma-size-button-padding-top-bottom)
    var(--figma-size-button-padding-right-left);
  gap: var(--figma-size-button-gap);

  background: var(--figma-color-background-button-secondary-active);
  color: var(--figma-color-text-button-secondary);
  border: 1px solid var(--figma-color-border-button-link);
  border-radius: var(--figma-size-button-radius);
}

.btn-secondary:hover {
  background: var(--figma-color-background-button-secondary-hover);
}

.btn-text {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--figma-size-button-padding-top-bottom)
    var(--figma-size-button-padding-right-left);
  gap: var(--figma-size-button-gap);

  background: none;
  color: var(--figma-color-text-button-secondary);
  border: none;
  border-radius: var(--figma-size-button-radius);
}

.btn-text:hover {
  background: var(--figma-color-background-button-secondary-hover);
}

.input_field .content {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--figma-size-field-padding-top-bottom)
    var(--figma-size-field-padding-right-left);
  gap: var(--figma-size-field-gap);

  height: 44px;

  background: var(--figma-color-background-base-light);

  border: 1px solid var(--figma-color-border-base);
  border-radius: var(--figma-size-field-radius);
}

input {
  border: none;
  /* Body1 */

  font-family: var(--figma-font-body1-font-family);
  font-style: normal;
  font-weight: var(--figma-font-body1-font-weight);
  font-size: var(--figma-size-font-body-1);
  line-height: var(--figma-size-line-height-body1);
  background: none;
}
